<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Image:</b>
  <%= @item.image %><br>
  <%= image_tag(@item.image_url, :width => 600) if @item.image.present? %>
</p>

<h3>Comments</h3>
<% @item.comments.each do |comment| %>
  <div>
    <strong><%= comment.user_name %></strong>
    <br />
    <p><%= comment.body %><p>
  </div>
<% end %>
<%= render 'comments/form' %>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
  <b>Contact:</b>
  <%= @item.contact %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
